


{% block conteudo %}
<div id="section" class="conteiner">
	{% if user %}
		{% if user.solsLen %}
		<b class="solicitacao" onclick="$('.solicitacao').toggle()">Ver solicitações({{user.solsLen}})</b>
		<b class="solicitacao" onclick="$('.solicitacao').toggle()" style="display:none;">Ocultar</b>
		<br>
			{% if user.solsLen > 0 %}
			<div class="publicacoes solicitacao" style="display:none;">
				<b>Solicitações</b><br>
				<ul>
						
				{% for sol in user.sols %}
					<li><a href="/{{sol.user.id}}/{{sol.user.nome.lower()}}/">
						{{sol.user.nome.split()[0]}}
					</a>
						<a class="btn btn-outline-primary" href="/amizade/responder/{{sol.user.id}}/">Aceitar</a> 
						<a class="btn btn-outline-danger" href="/amizade/cancelar_solicitacao/{{sol.user.id}}/">Recusar</a>
					</li>
				{% endfor %}
				</ul>
			</div>
			{% endif %}
		{% endif %}
	{% endif %}
	<br><br>
	{% for post in posts %}
	<div class="publicacoes">
	<hr>
		<div>
		{%if user %}
				
				
			{% if user.id == post.user.id %}
			<span class="" onclick="$('.editar-{{post.id}}-post').toggle()">. . .</span><br>
			<div  style="display:none;" class="editar-{{post.id}}-post">
				<a class="btn btn-outline-warning" href="/editar/post/{{post.id}}/">Editar</a>
				<a class="btn btn-outline-danger" href="/excluir/post/{{post.id}}/">excluir</a>
			</div>
			{% endif %}
					

				
				
		{% endif %}
		</div>
			
			
			
		<div>
			<h3>
				<a href="/{{post.user.id}}/{{post.user.nome.split()[0].lower()}}/">
				{% if post.user.img %}
					<img class="miniatura" src="data:;base64,{{post.user.img}}">
				{% endif %}
				{{post.user.nome.split()[0]}}
				</a>
			</h3>
			<sup>
				{{post.data_cr.day }}/{{post.data_cr.month }}/{{post.data_cr.year }} às {{post.data_cr.hour }}:{{post.data_cr.minute }}
			</sup><br>
			<pre><i style="max-width:50%;">{{post.body_post}}</i></pre>
		</div>
			
			
			
		<div class="carousel slide" data-ride="carousel">
		 	<div class="carousel-inner">
			{% for img in post.imgs[post.id]%}
				{% if img %}
					{% if img == post.imgs[post.id][0]%}
				 		<div class="carousel-item active">
							<img class="d-block w-100" src="data:;base64,{{img}}">
						</div>
					{% else %}
				 		<div class="carousel-item">
							<img class="d-block w-100"  src="data:;base64,{{img}}">
						</div>
					{% endif %}
				{% endif %}
			{% endfor %}
			</div>
		</div>
			
		{%if user %}
		<div>
			{% if post.Liked %}
			<br>
				<a class="btn btn-primary" href="/post/unlike/{{post.id}}/">
					{% if post.reactLen < 2 %}
						{{post.reactLen}} like
					{% else %}
						{{post.reactLen}} likes 
					{% endif %}
				</a>
			{% else %}
			<br>
				<a class="btn btn-outline-primary" href="/post/like/{{post.id}}/">
				{% if post.reactLen < 2 %}
					{{post.reactLen}} like
				{% else %}
					{{post.reactLen}} likes 
				{% endif %}
				</a>
			{% endif %}
			<span  onclick="$('#comentario-{{post.id}}').toggle()">
				{% if post.commLen > 0 %}
					{{post.commLen}}
					{% if post.commLen  < 2 %} 
						Comentário
					{% else %}
						Comentários
					{% endif %}
				{% endif%}
			</span>
			&nbsp;</nbps><span><b>compartilhar</b></span>
		</div>
		{% else %}
		<br>
			<span class="btn btn-dark">
				{% if post.reactLen < 2 %}
					{{post.reactLen}} like
				{% else %}
					{{post.reactLen}} likes 
				{% endif %}
			</span>
			<span  onclick="$('#comentario-{{post.id}}').toggle()">
				{% if post.commLen == 0 %}
					Nenhum
				{% else %}
					{{post.commLen}}
				{% endif%}
				{% if post.commLen  < 2 %}
					Comentário
				{% else %} 
					Comentários 
				{% endif %}
			</span>
		{% endif %}
			
				<br>
			
		{% if post.comm %}
		<div id="comentario-{{post.id}}" class="publicacoes" style="display:none;">
			<hr>
			{% for comm in post.comm %}
			<div class="">
				<b>{%if comm.user.img %}<img class="miniatura" src="data:;base64,{{ comm.user.img }}">{%endif%}
				{{ comm.user.nome}}
			
				{% if comm.user.id == post.id_user %}
					<sup>autor</sup>
				{% endif %}
				
				
				{% if user %}
					{% if user.id == comm.user.id %}
					<span onclick="$('.editar-{{comm.id}}-comm').toggle()">...</span><br>
					<div  style="display:none;" class="editar-{{comm.id}}-comm">
						<a class="btn btn-outline-warning" href="/editar/comm/{{comm.id}}/">Editar</a>
						<a class="btn btn-outline-danger" href="/excluir/comm/{{comm.id}}/">excluir</a>
					</div>
					{% endif %}
				{% endif %}
				
				</b>
				<pre><i>{{comm.body}}</i></pre>
			</div>
			{% endfor %}
			<hr>
		</div>
		{% endif%}
			
			
			
		{% if user %}
		<form action="/post/comentario/post/{{post.id}}/" method="post">
			<textarea  type="text" name="body" class="form-control" placeholder="comentario"></textarea><br>
			<button type="submit" class="form-control btn btn-primary">Comentar</button>
		</form>
		{% endif %}
			
	</div>
	<hr>
	{% endfor %}
	
</div>
{% endblock conteudo %}