<!DOCTYPE html>
<html>
	<head>
	
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>{% block titulo %}{% endblock titulo %}</title>
		<link rel="stylesheet" href="{{url_for('static',filename='css/custom.css')}}">
	</head>
	<body>
		<nav id="nav">
				<span id="navTitle" class="left"><a href="{{url_for('webui.index')}}">NavBar</a>
				</span>
				<span id="navMenu" onclick="$('#menu').toggle()">|||</span>
			<ul id="menu">
				<li><a href="/">Home</a></li>
				{% if user %}
					<li><a href="/logout/">Logout</a></li>
				{% else %}
				<li><a href="/cadastro/">Cadastro</a></li>
				<li><a href="/login/">Login</a></li>
				<li>sei lá</li>
				{% endif %}
			</ul>
		</nav>
		<div class="conteiner">
		{% block conteudo %}
		
		{% endblock conteudo %}
		</div>
		<footer>
			Copyright &copy;
		</footer>
		
		<script src="{{url_for('static',filename='js/jquery.js')}}"></script>
		<script src="{{url_for('static',filename='js/popper.js')}}"></script>
		<script src="{{url_for('static',filename='js/bootstrap.js')}}"></script>
		<script src="{{url_for('static',filename='js/jquery.mask.js')}}"></script>
		<script src="{{url_for('static',filename='js/custom.js')}}"></script>
	
		
	</body>
</html>