<!DOCTYPE html>
<html>
	<head>
	
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>{% block titulo %}{% endblock titulo %}</title>
		<link rel="stylesheet" href="{{url_for('static',filename='css/custom.css')}}">
		<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}">
          
	</head>

	<body>

		<nav id="nav" class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="/">DeepWebSocial</a>
		
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="{{url_for('webui.index')}}">Home </a>
					</li>
					{% if user %}
						<li class="nav-item">
							<a class="nav-link" href="{{url_for('webui.index')}}">{{user.username}}</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{url_for('webui.logout')}}">Sair</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{url_for('webui.cadastro')}}">Cadastro</a>
						</li>
						 <li class="nav-item">
							<a class="nav-link" href="{{url_for('webui.login')}}">Login</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</nav>
		{% if user %}
			{% if request.path != "/post/" %}
				<div>
					<a href="{{url_for('webui.post')}}">No que você está pensando, {{user.nome}} ?</a>
				</div>
			{% endif %}
		{% endif %}
		
		<div id="section" class="conteiner">{% block conteudo %}{% endblock conteudo %}</div>
		<footer>Copyright &copy;</footer>
		
		<script src="{{url_for('static',filename='js/jquery.js')}}"></script>
		<script src="{{url_for('static',filename='js/popper.js')}}"></script>
		<script src="{{url_for('static',filename='js/bootstrap.js')}}"></script>
		<script src="{{url_for('static',filename='js/jquery.mask.js')}}"></script>
		<script src="{{url_for('static',filename='js/custom.js')}}"></script>
	
		
	</body>
</html>
