{% extends 'base.html' %}

{% block titulo %} Cadastro {% endblock titulo%}


{% block conteudo %}
<div class="container">
	{% with mensagem = get_flashed_messages() %}
		{% if mensagem %}
			{% for men in mensagem %}
			<p class="alert alert-danger">{{men}}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}
	
	<form action="/cadastro/" method="post" enctype="multipart/form-data">
		<fieldset>
			<legend><sub>Foto Perfil</sub></legend>
			<input id="foto" type="file" accept="image/*" name="img"><br>
		</fieldset><br>
		<input class="form-control" type="text"     placeholder="Nome"               name="nome"><br>
		<input class="form-control" type="email"    placeholder="Email"              name="email"><br>
		<input class="form-control" type="email"    placeholder="Confirme o Email"   name="email2"><br>
		<input class="form-control senha" type="password" placeholder="Senha"              name="senha"><br>
		<input class="form-control senha" type="password" placeholder="Confirme a Senha"   name="senha2"><br>
		<input class="btn-senha" type="checkbox" id="btn-senha" onclick="senha"><label for="btn-senha" class="lab-senha">Mostrar Senha</label>
		<button class="form-control btn btn-outline-primary" type="submit">Cadastrar</button>
		<br><br>
		<sub><a class="btn btn-outline-link" href="/login/">Login</a></sub>
	</form>
</div>
{% endblock conteudo %}