{% extends 'base.html' %}

{% block titulo %} Cadastro {% endblock titulo%}


{% block conteudo %}
<div class="container">
	
	<form action="/cadastro/" method="post" enctype="multipart/form-data">
		<br>
		<br>
		<div class="container flex">
			{% with mensagem = get_flashed_messages() %}
				{% if mensagem %}
					{% for men in mensagem %}
					<p class="alert alert-danger">{{men}}</p>
					{% endfor %}
				{% endif %}
			{% endwith %}
			<label class="flex" for="new_img" id="perfil_img_label">
				<img id="perfil_img" class="perfil_img" src="{{url_for('static',filename='img/perfil/user_img_m.png')}}">
			</label>
			<label for="new_img" class="btn btn-outline-primary form-control">Foto Perfil</label>
			<input id="new_img" type="file" accept="image/*" name="img" style="display:none;"
				value="{{url_for('static',filename='img/perfil/img_user_m.jpg')}}"><br>
		</div>
		<input class="form-control" type="text"     placeholder="Nome"               name="nome"><br>
		<input class="form-control" type="email"    placeholder="Email"              name="email"><br>
		<input class="form-control" type="email"    placeholder="Confirme o Email"   name="email2"><br>
		
		
		<select class="form-control" name="sexo" >
			<option value="">Sexo</option>
			<option value="m">Masculino</option>
			<option value="f">Feminino</option>
			<option value="o">não quero específicar</option>
		</select>
		<br>
		
		<input class="form-control senha" type="password" placeholder="Senha"              name="senha"><br>
		<input class="form-control senha" type="password" placeholder="Confirme a Senha"   name="senha2"><br>
		<input class="btn-senha" type="checkbox" id="btn-senha" onclick="senha"><label for="btn-senha" class="lab-senha">Mostrar Senha</label>
		<button class="form-control btn btn-outline-primary" type="submit">Cadastrar</button>
		<br><br>
		<p class="container flex">
			Já é Cadastrado?
			<a id="login" class="btn btn-outline-link flex" href="/login/">
				<b>
					faça o Login
				</b>
			</a>
		</p>
	</form>
</div>
{% endblock conteudo %}