{% extends 'base.html'%}


{% block titulo %}  Editar {% if pag == 'post' %} Publicação {% else %}{% endif %} Comentário {% endblock titulo %}

{% block conteudo %}
<div class="container">
	<br><br>
	<form action="/editar/{{pag}}/{{post.id}}/" enctype="multipart/form-data" method="POST" accept-charset="utf-8">
		{% with msgs = get_flashed_messages() %}
			{% if msgs %}
				{% for msg in msgs %}
					<div class="alert alert-danger">
						<p>{{msg}}</p>
					</div>
				{% endfor %}
			{% endif%}
		{% endwith %}
		<h4>Editar </h4>
			<textarea class="form-control" name="body" placeholder="Legenda">{{post.body}}</textarea>
		<br>
		<label for="input-file" class="btn btn-dark">
			Add Imagem
		</label> 
		<input id="input-file" type="file" accept="image/*" multiple style="display:none;" name="img"><br>
 		
 		<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
 			<div class="img_edit img_preview">
 				
 			</div>
 			<hr>
 			{% if pag == 'post' %}
 			<div class="img_edit">
 				{%if imgs %}
				{% for img in imgs[post.id] %}
					{% if img %}
					<div class="img_edit_item img_item-{{img.id}}">
						<figure>
							<img src="data:;base64,{{img.img}}">
							<figcaption>
								<b onclick="$('.img_item-{{img.id}}').toggle(); $('#img_item-{{img.id}}').val('delete')" >Excluir</b>
							</figcaption>
						</figure>
					</div>
						<input type="num" id="img_item-{{img.id}}" name="img-del-{{img.id}}" style="display:none;">
					{% endif %}
				{% endfor %}
				{% endif %}
			</div>
			{% else %}
				{% if img %}
					<div class="img_edit_item img_item-1">
						<figure>
							<img src="data:;base64,{{img.img}}">
							<figcaption>
								<b onclick="$('.img_item-1').toggle(); $('#img_item-1').val('delete')" >Excluir</b>
							</figcaption>
						</figure>
					</div>
						<input type="num" id="img_item-1" name="img-del" style="display:none;">
				{% endif %}
			{% endif %}
		</div>
		<br><br>
		<button class="form-control btn btn-outline-success">Salvar</button>
	</form>
</div>
{% endblock conteudo %}




