{% extends 'base.html' %}



{% block titulo %}  index  {% endblock titulo%}


{% block conteudo %}
	{% if imgs %}
		{% for post in posts %}
		<hr>
		<div class="publicacoes">
			{% if user.id == post.user.id %}
			<span class="btn btn-outline-primary" onclick="$('.editar-{{post.id}}').toggle()"> |||</span><br>
			<div  style="display:none;" class="editar-{{post.id}}">
				<a class="btn btn-outline-warning" href="/editar/post/{{post.id}}/">Editar</a>
				<a class="btn btn-outline-danger" href="/excluir/post/{{post.id}}/">excluir</a>
			</div>
			{% endif %}
			
			<h3>{{post.user.username}}</h3>
			<sub>{{post.data_cr[8:10]}}/{{post.data_cr[5:7]}}/{{post.data_cr[:4]}} às {{post.data_cr[11:16]}}</sub>
			<br><br>
			<p><b><i>{{post.body_post}}</i></b></p>
			<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
	 			<div class="carousel-inner">
					{% for img in imgs[post.id] %}
						{% if img %}
							{% if imgs[post.id][1] %}
								{% if img == imgs[post.id][0]%}
				 					<div class="carousel-item active">
										<img class="d-block w-100" src="data:;base64,{{img}}">
									</div>
								{% else %}
				 					<div class="carousel-item">
										<img class="d-block w-100"  src="data:;base64,{{img}}">
									</div>
								{% endif %}
							{% else %}
								<img src="data:;base64,{{img}}">
							{% endif %}
						{% endif %}
					{% endfor %}
				</div>
			</div>
			<span>likes {{post.reac|length}}</span> | <span onclick="$('#comentario-{{post.id}}').toggle()">Comentarios {{post.comm|length}}</span>
			
			{% if post.comm %}
				<div id="comentario-{{post.id}}" class="publicacoes" style="display:none;">
					{% for comm in post.comm%}
						<p>
							<b>{{post.user.username}}
							{% if comm.id_user == post.id_user %}
								<sup>autor</sup>
							{% endif %}
							{% if user.id == comm.id_user %}
								<span onclick="$('.editar-{{comm.id}}').toggle()">...</span><br>
								<div  style="display:none;" class="editar-{{comm.id}}">
									<a class="btn btn-outline-warning" href="/editar/comm/{{comm.id}}/">Editar</a>
									<a class="btn btn-outline-danger" href="/excluir/comm/{{comm.id}}/">excluir</a>
								</div>
							{% endif %}
							</b>
							<p><i>{{comm.body}}</i></p>
						</p>
					{% endfor %}
				</div>
			{% endif%}
			<br>
			{% if user %}
				<form action="/post/comentario/{{post.id}}/" method="post">
					<input type="text" name="body" class="form-control" placeholder="comentario"><br>
					<button type="submit" class="form-control btn btn-primary">Comentar</button>
				</form>
			{% endif %}
		</div>
		<hr>
		{% endfor %}
	{% endif %}
{% endblock conteudo %}