html, body
{
	display: flex;
	margin: 0;
	padding: 0;
	flex-direction: column;
	height: 100%;
}
.miniatura{
	width: 36px;
	height: 36px;
	border-radius: 50%;
}
#nav 
{
	background-color:#000 !important;
	
}
#form-search {
	width: 100%;
	display: none;
}
#form-search input{
	width: 90%;
	margin: 0px 5%;
}
#form-search button{
	width: 30%;
}
.publicacoes {
	background: white;
	position: relative;
	padding: 5px 10px;
	border: none;
	border-radius: 10px;
}
.publicacoes h3,p,sub{
	margin: 0px 5%;
	width: 80%;
}

.publicacoes-config {
	position: absolute;
	background: white;
	border: 1px dotted gray;
	border-radius: 0px 5px 5px 5px;
	padding: 10px;
	margin-left: 15px;
	top: 60px;
}

.comentarios{
	position: relative;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 5px;
}

.comentario-config {
	position: absolute;
	background: white;
	border-radius: 0px 5px 5px 5px;
	padding: 10px;
	margin-left: 20px;
	top: 30px;
}


.perfil_img{
	display: flex;
	border-radius: 50%;
	width: 80%;
	max-width: 250px;
	max-height: 250px;
}
.cabecalho{
	position: relative;
	
}
.cabecalho figure{
	position: relative;
	margin-bottom: 0px;
}
.cabecalho figcaption{
	position: absolute;
	width: 70%;
	border-radius: 0px 10px 10px 0px;
	bottom: 10px;
	color: white;
	font-size: 20vw;
	background: rgba(0,0,0,.4);
}


.cp {
	color: black ;
	width: 100%;
	border: 1px solid #33dfba;
	border-radius: 10px;
}

.cpost {
	position: absolute;
	padding-top: 30px;
	background: white;
	min-height: 120%;
	padding: 10%;
	width: 100%;
	top: 0;
}

.cpost textarea{
	width: 96%;
	padding: 2%;
}


.editar{
	width: 100%;
}

img{
	width: 100%;
	padding: -10%;
}

.img_edit{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
}
.img_edit_item {
	display: flex;
	margin: 1%;
	width: 30%;
	min-height: 100px;
	align-items: center;
	border: .3px dotted black;
	
}
.img_edit_item figure {
	position: relative;
}
.img_edit_item figcaption {
	position: absolute;
	top: 5px;
	background: rgba(255,255,255,0.5);
}

/* stack over flow*/
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}


footer
{
	display: flex;
	margin-top: 10%;
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	
	background-color: black;
	color: #da910a;
}


.form
{
	width: 80%;
	margin: 10%;
}




input:focus, textarea:focus, select:focus, button:fucus
{
	outline: none !important;
}

a{
	color: #da910a;
	text-decoration: none;
}




.conteiner
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 90%;
	margin: 5%;
}
.flex {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flex-wrap
{
	display: flex;
	flex-wrap: wrap;
}