html, body
{
	display: flex;
	margin: 0;
	padding: 0;
	flex-direction: column;
	height: 100%;
}
.miniatura{
	width: 36px;
	height: 36px;
	border-radius: 50%;
}
#nav 
{
	background-color:#000 !important;
	
}
#form-search {
	width: 100%;
	display: none;
}
#form-search input{
	width: 90%;
	margin: 0px 5%;
}
#form-search button{
	width: 30%;
}
.publicacoes {
	position: relative;
	border: 1px solid gray;
	border-radius: 20px;
	padding: 20px 10px;
}
.publicacoes h3,p,sub{
	margin: 0px 10%;
	width: 80%;
}


img{
	width: 100%;
}


.editar{
	width: 100%;
}



footer
{
	display: flex;
	margin-top: 10%;
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	
	background-color: black;
	color: #da910a;
}


.form
{
	width: 80%;
	margin: 10%;
}




input:focus, textarea:focus, select:focus, button:fucus
{
	outline: none !important;
}

a{
	color: #da910a;
	text-decoration: none;
}




.conteiner
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 90%;
	margin: 5%;
}


.flex-wrap
{
	display: flex;
	flex-wrap: wrap;
}